<header>
        <div class="nav-div">
            <nav>
                <ul>
                    <li>
                        <a href="./index.html">Home</a>
                    </li>
                    <li>
                        <a href="./pages/about.html">About</a>
                    </li>             
                </ul>
            </nav>
            <img src="./images/upcomer-logo.png" alt="logo" class="logo">
                    <div class="icons-div">
                            <img src="./images/fb-icon.png" alt="logo">
                            <img src="./images/tweet-icon.png" alt="logo">
                    </div>            
        </div>
        
    </header>