ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #999999;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
  }
  li a:hover{
    color: #333333;
  }
  h1,h2,h4,h3,h6,a,p{
    font-family: 'Asap', sans-serif ;
  }
header{
  background-color: #ffffff;
  height: 70px;
}
.logo{
  height: 30px;
  padding-top: 5px;
  padding-right: 60px;
}
.nav-div{
  margin: 0% 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 10px;
}
.icons-div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 50px;
  height: auto;
  padding-top: 5px;
}
#hashtag {
  height: 300px;;
  background-color: #333333;
  background-image: url('../images/hand.png');
  background-repeat: no-repeat; 
  background-position: 30% 100%;
}
.hash-div{
  display: flex;
  flex-direction: row;
  color: #ffffff;
  justify-content: space-around;
  text-align: center;
  /* padding: 10px 10px; */
}
.hash-div h2{
  position: relative;
  font-size: 35px;
  margin: 10% 0%;
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}
