<section id="signup">
        <div class="signup-container">
                <h4>The first 5000 people to signup will get an <b>"early adopter priority"</b>
                    for 6 months which gives you a higher priority when we give away brand new products
                </h4>
                <h4>Be first to try upcomer!</h4>
                <div class="email-div">
                    <form>
                                <input type="email" id="email" placeholder="Enter your Email">
                                <button>Ok</button>
                    </form>       
                </div>
                <h6>Coming to Android and iOS first half of 2015</h6>
        </div>           
</section>