<section id="signup">
        <div class="signup-container">
                <h3>We have added your email address to the sign-up queue
                </h3>
                <p>We will let you know as soon as you can get Upcomer.<br>Be sure your friends don't miss out!</p>
        </div>
        <div class="options">
                <a>
                    <img src="./images/fb_share.png" alt="fb">
                </a>
                <a>
                    <img src="./images/tweet_share.png" alt="tweet">            
                </a>
                <a>
                    <img src="./images/email_share.png" alt="email">
                </a>
        </div>       
    </section>