<section id="section2">
        <div class="section2-div1">
            <h2>Personalize your feed</h2>
            <h4>Choose your favourite brands andproduct categories to get notified as soon as
                 a new product is announced</h4>
            <img src="../images/feed_bg.png">
        </div>      
</section>
<section id="section3">
    <div class="section3-div1">
            <div class="section3-info ">
                <img src="../images/illustration1.png">
                <div class="align-left box-400px">
                        <h2>All in one place</h2>
                        <h4>Choose your favourite brands andproduct categories to get notified as soon as
                             a new product is announced</h4>
                </div>
            </div>
            <div class="section3-info ">
                <div class="align-right box-400px">
                        <h2>Be the first to know</h2>
                        <h4>Choose your favourite brands andproduct categories to get notified as soon as
                             a new product is announced</h4>
                </div>
                <img src="../images/illustration2.png">
            </div>
    </div>
</section>