<section   id="section1">
        <div class="section1-container nomargin">
            <div class="signup-container">
                    <h1>We have added your email<br>address to the sign-up queue
                    </h1>
                    <p>We will let you know as soon as you can get Upcomer.<br>Be sure your friends don't miss out!</p>
            </div>
            <div class="options">
                    <a>
                        <img src="./images/fb_share.png" alt="fb">
                    </a>
                    <a>
                        <img src="./images/tweet_share.png" alt="tweet">            
                    </a>
                    <a>
                        <img src="./images/email_share.png" alt="email">
                    </a>
            </div>
            <div class="arrow-div">
                <img src="./images/down-arrow.png" alt="logo">
            </div>

        </div>
    </section>