<section   id="section1">
        <div class="section1-container">

            <h1>Stay updated on upcoming tech products you love</h1>
            <div class="h4-div">
                    <h4>We made it a whole lot easier for you to always stay </h4>
                    <h4>upadated on all upcoming products you care about</h4>
            </div>
            <h4>Be first to try upcomer</h4>
            <div class="email-div">
               <form>
                        <input type="email" id="email" placeholder="Enter your Email">
                        <button>Ok</button>
               </form>       
            </div>
            <h6>Coming to Android and iOS first half of 2015</h6>
            <div class="arrow-div">
                <img src="./images/down-arrow.png" alt="logo">
            </div>

        </div>
    </section>